<article class="form-input-container">
  <label class="form-input-name">{{ description() }}</label>

  <section class="form-input-wrapper">
    @if (iconPath()) {
      <span class="form-input-icon"
            [class]="iconPath()">
    </span>
    }

    <input class="form-input"
           [name]="name()"
           [type]="type()"
           [placeholder]="placeholder()"
           [value]="value"
           [disabled]="disabled"
           (input)="handleInput($event)"
           (blur)="handleBlur()" />
  </section>
</article>
