<article class="links-custom-container">
  <app-navbar></app-navbar>

  <section class="links-custom-content">
    <div class="links-custom-content-left">
      <div class="links-custom-content-left-cellphone">
        <div class="links-custom-content-left-cellphone-items">
<!--          <div-->
<!--            *ngFor="let link of links"-->
<!--            class="link-item"-->
<!--            [ngStyle]="{ 'background-color': link.color }"-->
<!--          >-->
<!--            <img [src]="link.icon" alt="{{ link.title }} icon" class="link-icon" />-->
<!--            <span class="link-title">{{ link.title }}</span>-->
<!--            <a [href]="link.url" class="link-arrow" target="_blank">→</a>-->
<!--          </div>-->
        </div>
      </div>
    </div>

    <div class="links-custom-content-right">
      <div class="links-custom-content-right-customize-wrapper">
        <app-header title="Customize your links"
                    subTitle="Add/edit/remove links below and then share all your profiles with the world!">
        </app-header>

        <app-button class="links-custom-content-right-customize-wrapper-btn-add"
                    title="+ Add new link"
                    (onClickEvent)="addLink()">
        </app-button>

        <div class="links-custom-content-right-cards">
          @for (link of links; track link; let index = $index) {
            <app-links-card class="links-custom-content-right-cards-item" [numberCard]="index + 1"></app-links-card>
          }
        </div>
      </div>

      <app-button class="links-custom-content-right-btn-save"
                  title="Save"
                  (onClickEvent)="saveLinks()">
      </app-button>
    </div>
  </section>
</article>
