@font-face {
  font-family: 'Instrument Sans';
  src: url('InstrumentSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900; /* Rango de pesos disponibles */
  font-stretch: 50% 200%; /* Rango de anchos disponibles */
  font-style: normal;
}

@font-face {
  font-family: 'Instrument Sans';
  src: url('InstrumentSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900; /* Rango de pesos disponibles */
  font-stretch: 50% 200%; /* Rango de anchos disponibles */
  font-style: italic;
}
