@use "variables" as *;

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?smkzca');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?smkzca#iefix') format('embedded-opentype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?smkzca') format('truetype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?smkzca') format('woff'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?smkzca##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="dev-links-icon-"], [class*=" dev-links-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dev-links-icon-candied {
  &:before {
    content: $dev-links-icon-candied;
    color: #737373;
  }
}
.dev-links-icon-codepen {
  &:before {
    content: $dev-links-icon-codepen;
    color: #737373;
  }
}
.dev-links-icon-codewars {
  &:before {
    content: $dev-links-icon-codewars;
    color: #737373;
  }
}
.dev-links-icon-devto .path1 {
  &:before {
    content: $dev-links-icon-devto-path1;
    color: rgb(115, 115, 115);
  }
}
.dev-links-icon-devto .path2 {
  &:before {
    content: $dev-links-icon-devto-path2;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.dev-links-icon-devto .path3 {
  &:before {
    content: $dev-links-icon-devto-path3;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.dev-links-icon-email {
  &:before {
    content: $dev-links-icon-email;
  }
}
.dev-links-icon-facebook {
  &:before {
    content: $dev-links-icon-facebook;
  }
}
.dev-links-icon-freecodecamp {
  &:before {
    content: $dev-links-icon-freecodecamp;
  }
}
.dev-links-icon-fronted-mentor {
  &:before {
    content: $dev-links-icon-fronted-mentor;
  }
}
.dev-links-icon-gitlab {
  &:before {
    content: $dev-links-icon-gitlab;
  }
}
.dev-links-icon-hamburger {
  &:before {
    content: $dev-links-icon-hamburger;
  }
}
.dev-links-icon-hashnode {
  &:before {
    content: $dev-links-icon-hashnode;
  }
}
.dev-links-icon-line {
  &:before {
    content: $dev-links-icon-line;
  }
}
.dev-links-icon-linkedin {
  &:before {
    content: $dev-links-icon-linkedin;
  }
}
.dev-links-icon-list {
  &:before {
    content: $dev-links-icon-list;
  }
}
.dev-links-icon-picture {
  &:before {
    content: $dev-links-icon-picture;
  }
}
.dev-links-icon-profile {
  &:before {
    content: $dev-links-icon-profile;
  }
}
.dev-links-icon-stackoverflow {
  &:before {
    content: $dev-links-icon-stackoverflow;
  }
}
.dev-links-icon-twitch {
  &:before {
    content: $dev-links-icon-twitch;
  }
}
.dev-links-icon-url {
  &:before {
    content: $dev-links-icon-url;
  }
}
.dev-links-icon-youtube {
  &:before {
    content: $dev-links-icon-youtube;
  }
}
.dev-links-icon-arrow {
  &:before {
    content: $dev-links-icon-arrow;
  }
}
.dev-links-icon-github {
  &:before {
    content: $dev-links-icon-github;
  }
}
