$icomoon-font-family: "dev-links-icons-2" !default;
$icomoon-font-path: "fonts" !default;

$dev-links-icon-arrow: "\e916";
$dev-links-icon-candied: "\e900";
$dev-links-icon-codepen: "\e901";
$dev-links-icon-codewars: "\e902";
$dev-links-icon-devto-path1: "\e903";
$dev-links-icon-devto-path2: "\e904";
$dev-links-icon-devto-path3: "\e905";
$dev-links-icon-email: "\e906";
$dev-links-icon-facebook: "\e907";
$dev-links-icon-freecodecamp: "\e908";
$dev-links-icon-fronted-mentor: "\e909";
$dev-links-icon-github: "\e917";
$dev-links-icon-gitlab: "\e90a";
$dev-links-icon-hamburger: "\e90b";
$dev-links-icon-hashnode: "\e90c";
$dev-links-icon-line: "\e90d";
$dev-links-icon-linkedin: "\e90e";
$dev-links-icon-list: "\e90f";
$dev-links-icon-picture: "\e910";
$dev-links-icon-profile: "\e911";
$dev-links-icon-stackoverflow: "\e912";
$dev-links-icon-twitch: "\e913";
$dev-links-icon-url: "\e914";
$dev-links-icon-youtube: "\e915";
