$icomoon-font-family: "dev-links-icons-4" !default;
$icomoon-font-path: "fonts" !default;

$dev-links-icon-arrow: "\e917";
$dev-links-icon-candied: "\e901";
$dev-links-icon-codepen: "\e902";
$dev-links-icon-codewars: "\e903";
$dev-links-icon-devto: "\e900";
$dev-links-icon-email: "\e907";
$dev-links-icon-facebook: "\e908";
$dev-links-icon-freecodecamp: "\e909";
$dev-links-icon-fronted-mentor: "\e90a";
$dev-links-icon-github: "\e918";
$dev-links-icon-gitlab: "\e90b";
$dev-links-icon-hamburger: "\e90c";
$dev-links-icon-hashnode: "\e90d";
$dev-links-icon-linkedin: "\e90f";
$dev-links-icon-picture: "\e911";
$dev-links-icon-profile: "\e912";
$dev-links-icon-select: "\e910";
$dev-links-icon-stackoverflow: "\e913";
$dev-links-icon-twitch: "\e914";
$dev-links-icon-twitter: "\e904";
$dev-links-icon-url: "\e915";
$dev-links-icon-youtube: "\e916";

