.links-custom-container {

  .links-custom-content {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    padding: 24px;

    &-preview {
      background-color: #ffffff;
      width: calc(40% - 12px);
      height: 834px;
    }

    &-list {
      background-color: #ffffff;
      width: calc(60% - 12px);
      height: 834px;
    }
  }
}
