<article class="login-container">
  <app-logo></app-logo>

  <section class="login-content">
    <app-header title="Login"
                subTitle="Add your details below to get back into the app">
    </app-header>

    <form class="login-form-container"
          [formGroup]="loginForm"
          (ngSubmit)="login()">

      <app-form-input
        iconPath="dev-links-icon-email"
        description="Email address"
        name="email"
        placeholder="e.g.alex@email.com"
        type="email"
        formControlName="email">
      </app-form-input>
      <span
        class="login-form-message-error"
        formErrorLabel
        [errors]="loginForm.get('email')?.errors"
        *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.dirty">
      </span>

      <app-form-input
        iconPath="dev-links-icon-candied"
        description="Password"
        name="password"
        placeholder="Enter your password"
        type="password"
        formControlName="password">
      </app-form-input>
      <span
        class="login-form-message-error"
        formErrorLabel
        [errors]="loginForm.get('password')?.errors"
        *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.dirty">
      </span>

      <app-button title="Login"
                  type="submit"
                  [disabled]="loginForm.invalid">
      </app-button>

      <app-form-footer description="Don’t have an account?"
                       action="Create account"
                       (onClickEvent)="goToRegister()">
      </app-form-footer>
    </form>
  </section>
</article>
