@use "./publics/dev-links-mixins" as mixins;

.btn-container {
  @include mixins.flex-center;
  background-color: var(--royal-purple-color);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  gap: 8px;
  padding: 11px 27px 11px 27px;
  width: 100%;

  .btn-text {
    @include mixins.font-styles(16px, 600);
    color: var(--white-color);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
