@use "./publics/dev-links-mixins" as mixins;

.form-footer-container {
  @include mixins.flex-center;
  gap: 2px;
  width: 100%;

  .form-footer-description, .form-footer-action {
    @include mixins.font-styles(16px, 400);
  }

  .form-footer-description {
    color: var(--steel-gray-color);
  }

  .form-footer-action {
    background: none;
    border: none;
    color: var(--royal-purple-color);
    cursor: pointer;
    padding: 0;
  }
}
