@use "./publics/dev-links-mixins" as mixins;

.form-footer-container {
  @include mixins.flex-align-center($direction: row, $align: center, $justify: center);
  gap: 2px;
  width: 100%;

  .form-footer-description, .form-footer-action {
    @include mixins.text-font-styles($font-size: 16px, $font-weight: 400);
  }

  .form-footer-description {
    color: var(--steel-gray-color);
  }

  .form-footer-action {
    background: none;
    border: none;
    color: var(--royal-purple-color);
    cursor: pointer;
    padding: 0;
  }
}
