@use "./publics/dev-links-mixins" as mixins;
@use "./publics/dev-links-icons-variables" as icons;

.links-card-container {
  background-color: var(--fog-gray-color);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  width: 100%;

  .links-card-header {
    display: flex;
    justify-content: space-between;

    div {
      align-items: center;
      display: flex;
      gap: 8px;

      .dev-links-icon-hamburger {
        font-size: 6px;
      }

      .links-card-title {
        @include mixins.text-font-styles($font-size: 16px, $font-weight: 700);
        color: var(--steel-gray-color);
      }
    }

    .links-card-btn-remove {
      @include mixins.text-font-styles($font-size: 16px, $font-weight: 400);
      background: none;
      border: none;
      color: var(--steel-gray-color);
      cursor: pointer;
    }
  }

  .links-card-platform {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &-text {
      @include mixins.text-font-styles($font-size: 12px, $font-weight: 400);
      color: var(--dark-gray-color);
    }

    &-select {
      position: relative;
      width: 100%;
    }

    &-checked {
      align-items: center;
      border-radius: 8px;
      border: 1px solid var(--light-gray-color);
      display: flex;
      justify-content: space-between;
      padding: 12px 8px 12px 16px;

      .dev-links-icon-select {
        color: var(--royal-purple-color);
        cursor: pointer;
        font-size: 22px;
      }
    }

    &-options {
      background-color: var(--white-color);
      border-radius: 8px;
      border: 1px solid var(--light-gray-color);
      cursor: pointer;
      list-style-type: none;
      margin-top: 16px;
      padding: 0;
      position: absolute;
      width: 100%;

      &-item {
        padding: 12px 16px 12px 16px;

        &:hover {
          background-color: var(--lavender-mist-color);
        }
      }

      hr {
        border: 1px solid var(--light-gray-color);
        margin: 0 14px;
      }
    }

    @each $key, $value in icons.$icons-map {
      .dev-links-icon-#{$key} {
        @include mixins.icon-styles($after-content: $value);
      }
    }

    .dev-links-icon-devto {
      &:before {
        font-size: 20px;
        margin: -3px;
      }
    }
  }

  .links-card-url {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .dev-links-icon-url {
      background-color: var(--white-color);
    }

    .form-input {
      border-radius: 8px;

      &::placeholder {
        @include mixins.text-font-styles($font-size: 16px, $font-weight: 400);
      }
    }
  }
}
