@use "./publics/dev-links-mixins" as mixins;

.navbar-container {
  background-color: var(--white-color);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  padding: 16px 16px 16px 24px;

  .navbar-content {
    &-left {
    }

    &-mid {
      display: flex;
      gap: 16px;

      .btn-container {
        background-color: var(--white-color);

        .btn-text,
        .btn-icon {
          color: var(--steel-gray-color);
        }

        &:hover {
          background-color: var(--lavender-mist-color);

          .btn-text,
          .btn-icon {
            color: var(--royal-purple-color);
          }
        }
      }
    }

    &-right {
      @include mixins.btn-secondary-colors;
    }
  }
}
