@use "./publics/dev-links-mixins" as mixins;

.register-container {
  @include mixins.flex-align-center($direction: column, $justify: center, $align: center);
  gap: 51px;
  height: 618px;
  width: 476px; //Make responsive

  .register-content {
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 100%;
    padding: 40px;
    width: 100%;
  }

  .register-form-container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .dev-links-icon-email {
      font-size: 10px;
    }

    .dev-links-icon-candied {
      font-size: 14px;
    }
  }

  .register-form-message-error {
    @include mixins.text-font-styles($font-size: 12px, $font-weight: 400);
    color: var(--steel-gray-color);
  }
}
