:host {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.register-container {
  display: flex;
  flex-direction: column;
  gap: 51px;
  width: 476px; //Make responsive
  height: 618px;
  align-items: center;

  .register-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: var(--white-color);
    height: 100%;
    width: 100%;
    padding: 40px;
  }

  .register-form-container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .dev-links-icon-email {
      font-size: 10px;
    }

    .dev-links-icon-candied {
      font-size: 14px;
    }
  }

  .register-form-message-error {
    font-family: var(--instruments-sans-font), sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: var(--steel-gray-color);
  }
}
