@mixin btn-secondary-colors {
  .btn-container {
    background-color: var(--white-color);
    border: 1px solid var(--royal-purple-color);

    .btn-text {
      color: var(--royal-purple-color);
    }
  }
}

@mixin flex-align-center($direction, $justify, $align) {
  align-items: $align;
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}

@mixin text-font-styles($font-size, $font-weight) {
  font-family: var(--instruments-sans-font), sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;
}
