$black-color: #000000;
$dark-gray-color: #333333;
$lavender-mist-color: #efebff;
$light-gray-color: #d9d9d9;
$red-color: #ff0000;
$royal-purple-color: #633CFF;
$steel-gray-color: #737373;
$white-color: #ffffff;

:root {
  --black-color: #{$black-color};
  --dark-gray-color: #{$dark-gray-color};
  --lavender-mist-color: #{$lavender-mist-color};
  --light-gray-color: #{$light-gray-color};
  --red-color: #{$red-color};
  --royal-purple-color: #{$royal-purple-color};
  --steel-gray-color: #{$steel-gray-color};
  --white-color: #{$white-color};
}
