.navbar-container {
  padding: 24px;

  .navbar-content {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 16px 16px 16px 24px;

    &-left {
    }

    &-mid {
      display: flex;
      gap: 16px;

      .btn-container {
        display: flex;
        gap: 8px;
        align-items: center;
        background-color: #ffffff;

        .btn-text,
        .btn-icon {
          color: #737373;
        }

        &:hover {
          background-color: #EFEBFF;

          .btn-text,
          .btn-icon {
            color: #633cff;
          }
        }
      }
    }

    &-right {
      .btn-container {
        background-color: #ffffff;
        border: 1px solid #633cff;

        .btn-text {
          color: #633cff;
        }
      }
    }
  }
}
