<article class="links-card-container">
  <section class="links-card-header">
    <div>
      <span class="dev-links-icon-hamburger"></span>
      <label class="links-card-title">Link #{{ numberCard() }}</label>
    </div>

    <button class="links-card-btn-remove"
            title="Remove link"
            (click)="removeLink()">
      Remove
    </button>
  </section>

  <section class="links-card-platform">
    <label class="links-card-platform-text">Platform</label>
    <div class="links-card-platform-select">
      <div class="links-card-platform-checked">
        <span [class]="'dev-links-icon-' + selectedPlatform"></span>
        <span class="dev-links-icon-select" (click)="toggleVisibilityPlatformOptions()"></span>
      </div>
      <ul class="links-card-platform-options" [hidden]="isVisiblePlatformOptions">
        @for (platform of PLATFORM_NAMES; track platform; let lastOption = $last) {
          <li class="links-card-platform-options-item"
              [attr.data-value]="platform"
              (click)="selectOption(platform)">
            <span [class]="'dev-links-icon-' + platform"></span>
          </li>

          @if (!lastOption) {
            <hr>
          }
        }
      </ul>
    </div>
  </section>

  <section class="links-card-url">
    <app-form-input iconPath="dev-links-icon-url"
                    description="Link"
                    name="url"
                    placeholder="e.g. https://www.github.com/johnappleseed"
                    type="text">
    </app-form-input>
  </section>
</article>
