<article class="links-card-container">
  <section class="links-card-header">
    <div>
      <span class="dev-links-icon-hamburger"></span>
      <label class="links-card-title">Link #1</label>
    </div>

    <button class="links-card-btn-remove"
            title="Remove link"
            (click)="removeLink()">
      Remove
    </button>
  </section>

  <section class="links-card-platform">
    <label class="links-card-platform-text">Platform</label>
    <div class="custom-select">
      <div class="custom-select-trigger">
        <span class="dev-links-icon-github"></span> GitHub
        <span class="custom-select-arrow"></span>
      </div>
      <ul class="custom-options">
        <li class="custom-option" data-value="github">
          <span class="dev-links-icon-github"></span> GitHub
        </li>
        <li class="custom-option" data-value="frontend-mentor">
          <span class="dev-links-icon-fronted-mentor"></span> Frontend Mentor
        </li>
        <li class="custom-option" data-value="twitter">
          <span class="dev-links-icon-twitter"></span> Twitter
        </li>
        <li class="custom-option" data-value="linkedin">
          <span class="dev-links-icon-linkedin"></span> LinkedIn
        </li>
        <li class="custom-option" data-value="youtube">
          <span class="dev-links-icon-youtube"></span> YouTube
        </li>
        <li class="custom-option" data-value="facebook">
          <span class="dev-links-icon-facebook"></span> Facebook
        </li>
        <li class="custom-option" data-value="twitch">
          <span class="dev-links-icon-twitch"></span> Twitch
        </li>
      </ul>
    </div>
  </section>

  <section class="links-card-url">

  </section>
</article>
